<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logFile"
            layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz}|${replace:searchFor=WARN:wholeWords=true:replaceWith=WARNING:inner=${uppercase:Inner=${level}}}|${machinename}|CodeAround.FluentBatch|${activityid}|${callsite:cleanNamesOfAnonymousDelegates=true}|${threadid}|${event-properties:item=elapsed}|${message}${onexception:inner=${newline:when=message==''}${exception:format=ToString,StackTrace,Data:maxInnerExceptionLevel=10}}"
            fileName="c:\codearound.fluentbatch\Logs\LogCodearound.FluentBatch.log"
            archiveFileName="c:\codearound.fluentbatch\Logs\LogCodearound.FluentBatch.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="15000000"
            archiveEvery="Day"
            concurrentWrites="true"
            keepFileOpen="false"
            xsi:type="File" />
    <target name="traceFile"
            layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz}|${replace:searchFor=WARN:wholeWords=true:replaceWith=WARNING:inner=${uppercase:Inner=${level}}}|${machinename}|CodeAround.FluentBatch|${activityid}|${callsite:cleanNamesOfAnonymousDelegates=true}|${threadid}|${event-properties:item=elapsed}|${message}}"
            fileName="c:\codearound.fluentbatch\Trace\TraceCodearound.FluentBatch.log"
            archiveFileName="c:\codearound.fluentbatch\Trace\TraceCodearound.FluentBatch.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            archiveAboveSize="15000000"
            archiveEvery="Day"
            concurrentWrites="true"
            keepFileOpen="false"
            xsi:type="File" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="logFile" />
    <logger name="*" level="Trace" writeTo="traceFile" />
  </rules>
</nlog>